
@import "css/app.css";
@import "css/body.css";
@import "css/buttons.css";
@import "css/crucio.css";
@import "css/colors.css";
@import "css/fonts.css";
@import "css/game.css";
@import "css/icons.css";
@import "css/images.css";
@import "css/utility.css";
@import "css/dcard.css";
@import "css/avadakedavra.css";
