/* Don't change <3 */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo-without-animation {
  height: 20vmin;
  pointer-events: none;
}

.button_dark_gray {
  background-color: #555555;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_red {
  background-color: #f44336;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button {
  display: inline-block;
  padding: 8px 8px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #555555; /*#f44336*/
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-bottom: 15px;
}

.button:hover {background-color: #373333} /*#c93126*/

.button:active {
  background-color: #131010;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.button-shadow-red {
  display: inline-block;
  padding: 8px 8px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c22a2a; /*#f44336*/
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-bottom: 15px;
}

.button-shadow-red:hover {background-color: #a51d1d} /*#c93126*/

.button-shadow-red:active {
  background-color: #8f1010;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.button-shadow-blue {
  display: inline-block;
  padding: 8px 8px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4182d6; /*#f44336*/
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-bottom: 20px;
}

.button-shadow-blue:hover {background-color: #1c64c2} /*#c93126*/

.button-shadow-blue:active {
  background-color: #0b438c;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.button-votation-red {
  background-color: #f44336;
  padding: 6px 14px;
  cursor: pointer;
  outline: none;
  text-align: center;
  box-shadow: 0 5px #999;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-votation-red:active {
  background-color: #8f1010;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.button-votation-red:hover {background-color: #db4545}


.App-h3{
  position: absolute;
  top: 68%;
  margin-top: -25px; /* half this element's height */
  margin-bottom: 5px;
}
.App-header {
    background-color: #630303;
/*  
    background-image: url(./../src/fondo_lobby.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; /* width height 
*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

.App-header-test {
  background-color: #3c0505;  
  /*background-image: url('../metaMedia/fondo_lobby.jpg');*/
  background-repeat: no-repeat;
  background-size: 100% 100%; /* width height  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header-blue {
  background-color: rgb(18, 87, 133);
  background-repeat: no-repeat;
  background-size: 100% 100%; /* width height  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header_Hufflepuff {
  background-color: #f5e59c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Box, you can use how:
<div className="App-div">
                <h2>This is a heading in a div element</h2>
                <p>This is some text in a div element.</p>
</div>*/
.App-div{
  padding: 25px; /**/
  border: 5px outset rgb(14, 13, 13);
  background-color: rgb(241, 243, 118);    
  text-align: center;
}

.App-div-login{
  padding: 50px; /**/
  border: 5px outset rgb(14, 13, 13);
  background-color: rgb(241, 243, 118);    
  text-align: center;
}

.App-div-up{
  width: 800px; /**/
  height: 460px;
  border: none; /*5px outset rgb(14, 13, 13);*/
  padding: 10px; /**/
  transform: translate(0%, -4%);
  background-color: rgb(243, 232, 149);
  border: 5px outset rgb(14, 13, 13);
  text-align: center;
}

.App-div-blue{
  padding: 25px; /**/
  border: 5px outset rgb(14, 13, 13);
  background-color: rgb(18, 87, 133);    
  text-align: center;
}

.App-div-pastel-pink{
  padding: 25px; /**/
  border: 5px outset rgb(14, 13, 13);
  background-color: #ffcfe2;    
  text-align: center;
}

.App-div-lightsteelblue{
  padding: 25px; /**/
  border: 5px outset rgb(14, 13, 13);
  background-color: lightsteelblue;    
  text-align: center;
}

.App-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/* Desplegable con opciones seleccionables 
<form>
  <select id="country" name="country">
  <option value="au">Australia</option>
  <option value="ca">Canada</option>
  <option value="usa">USA</option>
  </select>
</form>*/
.App-select{
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.ul-big {
  list-style-type: none;
  font-size: large;
}


.Board-position  {
  float:left;  
  background:rgb(199, 186, 0); 
  width:70%; 
  height:100%; 
}



.Div-invisible {
  display: contents;
}


/* Main Game Divs */

.Game-header {
  background-color: #131010;
  height:5vh;
  margin: 0;
}

.Board-container {
  box-sizing: border-box;
  float:left;  
  width:70%; 
  background:rgb(7, 9, 16); 
  height:95vh; 
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.Chat-container {
  box-sizing: border-box;
  float:right;  
  width:30%; 
  background: rgb(175, 0, 0); 
  height:95vh; 
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
}

.Proclamations-container {
  box-sizing: border-box;
  position: relative;
  top: 15%;
  left: 20%;
  width: 55%;
}
/* Main Game Divs */

/* Game Images */

.Img-50 {
  width: 50%;
}

.Img-65 {
  width: 65%;
}

.Img-100 {
  width: 100%;
}

/* Game Images */


.Error-text {
  color: red;
  font-size: smaller;
  font: italic;
}

.Chat-history {
  box-sizing: border-box;
  color: rgb(255, 244, 90);
  text-align: left;
  font-size: small;  /* If you change this, change the const fontSize in chat */
  text-indent: 2%;
  background-color: rgb(43, 15, 0);
  width:100%;
  height:90%;
  overflow-x:auto;
  overflow-y: hidden;
  overflow-wrap: break-word;
  white-space: normal;
  list-style-type: none;
  padding: 1%;
  margin: 0;
  scroll-behavior: smooth;
}

.Chat-input {
  box-sizing: border-box;
  align-items: center;
  padding: 0;
  margin: 0;
  width:100%;
  height: 10%;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #4CAF50; /* Add an active/current color */
}

.green {
  color: rgb(122, 228, 87);
}

.red {
  color: rgb(255, 8, 0);
}

.blue {
  color: rgb(0, 81, 255);
}

.white {
  color: rgb(232, 235, 242);
}

.orange {
  color: rgb(255, 132, 0);
}

.violet {
  color: rgb(149, 0, 255);
}

.brown {
  color: rgb(121, 69, 13);
}

.yellow {
  color: rgb(247, 226, 108);
}

.antiquewhite {
  color: antiquewhite;
}

.brown2 {
  color: #674d3c,
}

/* PASTEL COLORS */
.pink-pastel {
  color: #ffcfe2;
}

.blue-pastel {
  color: rgb(121, 69, 13);
}

.green-pastel {
  color: #FFCCCC;
}

.light-steel-blue {
  color: lightsteelblue;
}

.gainsboro {
  color: gainsboro;
}

/* */
.maroon {
  color: maroon;
}

.peru {
  color: peru;
}

.gold {
  color: gold;
}

.palegoldenrod {
  color: palegoldenrod;
}